<div class="m-wysiwyg {{ block.classes }}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-xxl-8 mx-auto">
                <div class="row">
                    <div class="col-12">
                        <div class="m-wysiwyg__content">
                            {{ block.content.render|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>